<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Smartosc\Article\Controller\Index\Example">
        <plugin name="Smartosc_Article_Plugin" type="Smartosc\Article\Plugin\ExamplePlugin" sortOrder="10" disabled="false"  />
    </type>
</config>